<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">

	<http:listener-config name="order-fulfilment-api-httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    
    <apikit:config name="order-fulfilment-api-config" raml="order-fulfilment-api.raml" consoleEnabled="false" doc:name="Router"/>
    
    
    <http:request-config name="customers-api" protocol="HTTPS" doc:name="HTTP Request Configuration"
	    host="#[new URL('${customers-api.baseUri}').getHost()]" 
	    port="#[new URL('${customers-api.baseUri}').getPort()]" 
	    basePath="#[new URL('${customers-api.baseUri}').getPath()]">
        <http:raml-api-configuration location="retail-customers-system-api/retail-customers-system-api.raml"/>
    </http:request-config>
    
    
    <http:request-config name="notifications-api" doc:name="HTTP Request Configuration"
	    host="#[new URL('${notifications-api.baseUri}').getHost()]" 
	    port="#[new URL('${notifications-api.baseUri}').getPort()]" 
	    basePath="#[new URL('${notifications-api.baseUri}').getPath()]">
        <http:raml-api-configuration location="retail-notifications-system-api/retail-notifications-system-api.raml"/>
    </http:request-config>
    
    <http:request-config name="orders-api" doc:name="HTTP Request Configuration"
	    host="#[new URL('${orders-api.baseUri}').getHost()]" 
	    port="#[new URL('${orders-api.baseUri}').getPort()]" 
	    basePath="#[new URL('${orders-api.baseUri}').getPath()]">
        <http:raml-api-configuration location="retail-orders-system-api/retail-orders-system-api.raml"/>
    </http:request-config>
    
    <http:request-config name="partners-api" doc:name="HTTP Request Configuration"
	    host="#[new URL('${partners-api.baseUri}').getHost()]" 
	    port="#[new URL('${partners-api.baseUri}').getPort()]" 
	    basePath="#[new URL('${partners-api.baseUri}').getPath()]">
        <http:raml-api-configuration location="retail-partners-system-api/api.raml"/>
    </http:request-config>
    
    <http:request-config name="product-availability-api" doc:name="HTTP Request Configuration"
	    host="#[new URL('${product-availability-api.baseUri}').getHost()]" 
	    port="#[new URL('${product-availability-api.baseUri}').getPort()]" 
	    basePath="#[new URL('${product-availability-api.baseUri}').getPath()]" >
        <http:raml-api-configuration location="retail-product-availability-api/retail-product-availability-api.raml"/>

    </http:request-config>
    
    <http:request-config name="payment-process-api" doc:name="HTTP Request Configuration"
	    host="#[new URL('${payment-process-api.baseUri}').getHost()]" 
	    port="#[new URL('${payment-process-api.baseUri}').getPort()]" 
	    basePath="#[new URL('${payment-process-api.baseUri}').getPath()]" protocol="HTTPS">
        <http:raml-api-configuration location="retail-payment-process-api/payment-process-api.raml"/>
    </http:request-config>
    
    <context:property-placeholder location="common.properties,mule.${mule.env}.properties"/>

</mule>
